.pageNewsInternal { max-width: 100%; height: auto; padding: 0; }

.pageNewsInternal .containerNewsInternal {
  max-width: 850px; 
  height: auto; 
  margin: 3rem auto; 
  padding: 0 1.5rem;

  h1 {
    display: block;
    width: 100%;
    height: auto;
    font-size: 2.65rem;
    font-weight: bold;
    line-height: normal;
    color: var(--white);
  }

  .infoNews {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
  
    time {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: auto;
      height: auto;
      margin: 2rem 1.25rem 2rem 0;
      padding: 0.55rem 1.25rem;
      color: var(--white);
      font-size: 0.85rem;
      font-weight: 500;
      font-style: italic;
      border-radius: 1rem;
      background-color: var(--gray-700);
  
      time:first-child { margin-right: 0; }
    }
  }

  .postContent {
    display: block;
    width: 100%;
    height: auto;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.65rem;
    margin: 0;
    letter-spacing: -0.002em;

    p {
      display: block;
      width: 100%;
      height: auto;
      margin: 1rem 0; 
      padding: 1.5rem 1.5rem;
      font-size: 1.25rem;
      font-weight: 300;
      font-style: italic;
      line-height: 1.8rem;
      border-left: 4px solid var(--gray-600);
    }

    ul {
      display: block;
      width: 100%;
      height: auto;
      margin: 2rem 0 2rem 0;
      padding-left: 1.5rem;

      li {
        margin: 1rem 0;

        strong {
          display: block;
          width: 100%;
          height: auto;
          margin-bottom: 1.25rem;
          font-size: 1.45rem;
          font-weight: 700;
          line-height: normal;
        }
      }
    }

    &.previewContent {
      background: linear-gradient(to bottom, var(--gray-100) 20%, transparent 80% );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.pageNewsInternal .containerNewsInternal .continueReading {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0 0 1.5rem 0;
  text-align: center;
  -webkit-transition: filter 0.2s;
  transition: filter 0.2s;
  
  p {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 1.25rem 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.2rem;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    line-height: normal;
    margin: 0;
    padding: 0;
    border-radius: 3rem;
    border: 0;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--gray-900);
    background: var(--cyan-500);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}